

.sideBar-Link-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center;
    align-content: center;
    height: 100%;
}

.icon-sideBar {
    display: flex;
    text-align: center;
    margin: 1rem; 
    font-size: x-large;
    color:#DBAF2B
}

.icon-sideBar :hover{
font-size: xx-large;
}
.welcome-page-container {
    position: relative; 
    margin-top: 5%;
    background-image: url('src/assets/20181006_210628.jpg') ; 
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    width: 100%;
    justify-content: space-around;
    color: #DBAF2B;
    overflow: hidden; 
    align-content: center;
    align-self: center;
    align-items: center;
    
}

.welcome-page-container::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 2, 39, 0.438); 
    z-index: 0; 
  
    
}

.welcome-page-container > * {
    position: relative; /* Ensure child elements are above the overlay */
    z-index: 1; /* Keep text elements above the overlay */
}

.intro-message h2, .intro-message h1 {
    margin: 0; 
    padding: 0; 
}

.intro-message h2 {
    margin-bottom: 5px; 
}

.regular-font-group{
   font-family: Raleway;
   font-size: 2.5rem;
   font-weight: lighter;
   letter-spacing: .2rem;
   color: #dbaf2b; 
}
.bold-font-group{
    font-family:Raleway;
    font-size: 6rem;
    font-weight:bold;
    letter-spacing: .6rem;
    color: #dbaf2b; 
}

.Bold-text-titles-Back{
    font-family: Raleway;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #dbaf2b16; 
    text-align: center;
    position: relative; 
    z-index: 0; 
    margin: 0; 
}
.Bold-text-titles{
    font-family:Raleway;
    font-size: 2.5rem; 
    font-weight: bolder;
    letter-spacing: .2rem;
    color: #dbaf2b; 
    text-align: center;
    position: relative; 
    z-index: 1; 
    margin: -60px 0 0 0;
   
}
.aboutMe-Container , .Skills-component-container,.projectsContainer{
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
}

.aboutMe-picture-statement-container {
    margin-top: 15%;
    display: flex;
    flex-direction: row; /* Change to row to align items side by side */
  justify-content: center;
}

.profile-picture {
    height: 25rem;
    width: 15rem;
    margin-right: 5%;
    
}

.Personal-Statement {
    width: 60%;
    margin-left: 20px; 
}
.simpleText-format{
    color: #dbaf2b; 
    font-family: Raleway;
   font-size: 2rem;
   font-weight: lighter;
   letter-spacing: .1rem;
   text-align: center;
}
.regular-font-group-messag{
    margin-top: 10%;
    font-family: Raleway;
    font-size: 2rem;
    font-weight:lighter;
    letter-spacing: .2rem;
    text-align: center;
    color: #dbaf2b; 
    text-shadow: rgba(240,237,231,1) 0px 0px 25px;

}
.skills-container {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
}

.skill-item {
    display: flex;
    flex-direction: column; /* Stack title above logo */
    align-items: center; /* Center align items */
    flex: 0 0 calc(20% - 10px); /* Adjusts the item width for 5 items per row */
    margin: 5px; 
    margin-top: 10%;
}


.skill-tecnology-logo {
    font-size: 6rem;
    margin-top: 15%; 
    opacity: 0.6; 
    margin-left: -25%;
    
}
.Boldtext-titles{
    font-family: Raleway;
    font-size: 1.5rem; 
    font-weight:bold;
    letter-spacing: .3rem;
   
    text-align: center;
    position: relative; 
    z-index: 1; 
    margin: -50px 0 0 0;
    

}

.single-chart {
  width: 33%;
  justify-content: space-around;
  margin-top: -20%;
  margin-left: 40%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  transition: stroke-dasharray 1s ease-out; /* Transition for smooth animation */
}

.single-chart:hover .circle {
  animation: progress 1s ease-out forwards; /* Re-trigger animation on hover */
}


@keyframes progress {
  0% {
      stroke-dasharray: 0 100; /* Start from 0 */
  }
  
}

.circular-chart.js .circle {
  stroke: #FFDE25;
}

.circular-chart.html .circle {
  stroke: #F24900;
}

.circular-chart.css .circle {
  stroke: #0B38EB;
}

.circular-chart.react .circle {
  stroke: #336F96;
}

.circular-chart.node .circle {
  stroke: #057825;
}

.circular-chart.python .circle {
  stroke: #FFDE25;
}

.circular-chart.mongo .circle {
  stroke: #057825;
}

.circular-chart.figma .circle {
  stroke: #A259FF;
}

.circular-chart.ps .circle {
  stroke: #00AAFF;
}

.circular-chart.il .circle {
  stroke: #FF9A00;
}

.percentage {
  fill: #838380ea;
  font-family: Raleway;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: bold;
}

.project-list-container{
    
    margin-bottom: 30%;

}

.footer-container{
    margin-top: 20%;
    color:#010211;
    text-align: center;
    padding: 10px 0; 
    background-color:  #dbaf2b; 
    height: 5%;

}
.footer-text{
    font-family: Raleway;
    font-weight:lighter;
    font-size:large;
    letter-spacing: 2px;
}